/amazon/
/integration/
/webhook/
/mqtt/
/asynctask/
/channeljsonconfig/
/actions/
/doubles/
/http/
/scene/
/distributedobjects/
/client/
/ipc/
/conn/
/device/
/analyzer/
/cyclictasks/
/push/
/vbt/
/jsonconfig/
/srpc/
