[submodule "cJSON"]
	path = supla-server/src/external/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "inja"]
        path = supla-server/src/external/inja
        url = https://github.com/pantor/inja.git
